.posts  {
    margin-top: 2rem;
    &__imagem {
        padding-top: 1rem;
    }

    &__like {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.4rem;
    }

    &__card {

        position: relative;
        padding: 30px;
        border-radius: 10px;
        transition: all 0.3s ease;

        h1,h2,h3,h4,h5{
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }

        p {
            font-weight: normal;
            letter-spacing: -0.06px;
            line-height: 32px;
        }

        small {
            font-size:  1rem;
        }
    }

    &__footer {
        small {

        }
    }


}

.posts__content:not(:first-child) {
    margin-top: 20px;
    display: block;
    width: 100%;
}

