.hero {
    background-color: #fff;
    padding: 30px 0;

    @media (min-width: 768px) {
        padding: 20px 0;
    }

    .container-2xl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            padding: 0;
        }

        img {
            width: 100%;
            max-width: 240px;
            border-radius: 10px;
        }
    }

    .subtitle {
        color: rgb(3, 7, 18);
        font-size: 18px;
        letter-spacing: -0.3px;
        line-height: 33.6px;
        display: block;
        margin-bottom: 16px;

        @media (min-width: 768px) {
            font-size: 28px;
        }
    }

    &__content {
        order: 2;

        @media (min-width: 768px) {
            order: 1;
        }
    }

    &__img {
        order: 1;

        @media (min-width: 768px) {
            order: 2;
        }
    }

    h1 {
        font-size: 2rem;
        font-family: "GeistBold";
        font-weight: 700;
        color: rgb(3, 7, 18);

        @media (min-width: 680px) {
            font-size: 2.5rem;
            max-width: 600px;
            line-height: 1;
        }

        @media (min-width: 980px) {
            font-size: 3.5rem;
        }

        span {
            color: rgb(129 129 129);
        }
    }

    .btn-myresume {
        background-color: rgb(3, 7, 18);
        color: #fff;
        padding: 10px 16px;
        border-radius: 8px;
        border: 0;
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 1px solid rgb(3, 7, 18);
        font-size: 1rem;
        font-family: "GeistRegular";

        @media (min-width: 768px) {
            width: max-content;
        }

        svg {
            margin-left: 10px;
            width: 24px;
            height: 24px;
            transition: all 0.3s ease;

        }

        &:hover svg {
            transform: translateX(3px);
        }
    }
}